@use "variables" as *;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  font-size: 1.5rem;
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: $VeryLightGrayishBlue;
}

main {
  padding: 8rem 0;
}

h2 {
  font-size: 1.8rem;
}

// Bg Images

.bg-top {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.bg-bot {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}