// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

@mixin linear-gradient() {
  background: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}
@mixin linear-gradient-button() {
  background: linear-gradient(90deg, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}
// - Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)

// ### Neutral

$VeryLightGrayishBlue: hsl(240, 78%, 98%);
$LightGrayishBlue: hsl(234, 14%, 74%);
$GrayishBlue: hsl(233, 13%, 49%);
$DarkGrayishBlue: hsl(232, 13%, 33%);

// ## Typography

// ### Body Copy

// - Font size: 15px

// ### Font

// - Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
// - Weight: 700